<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">My Pre Reservations</div>
                <div class="panel-body">
                    <%= render partial: 'list_pre_reservations', locals:{ pre_reservations: @pre_reservations } %>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>