<div class="container">

    <div class="row" id="pre_reservations_list">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">My Pre Reservations</div>
                <div class="panel-body">
                    <%= render partial: 'list_pre_reservations', locals:{ pre_reservations: @pre_reservations } %>
                </div>
            </div>
        </div>
    </div>

    <%= button_to "Add Pre reservation", new_service_pre_reservation_path, :class => "btn btn-primary", :method => :get  %>
    <br>

</div>