<!DOCTYPE html>
<html>
<head>
  <title>Stamp</title>
  <%= stylesheet_link_tag    "stamp/application", media: "all" %>
  <%= javascript_include_tag "stamp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
