<div class="container">

    <div class="row" id="reservations_list">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">My Reservations</div>
                <div class="panel-body">
                    <%= render partial: 'list_reservations', locals:{ reservations: @reservations } %>
                </div>
            </div>
        </div>
    </div>

    <%= button_to "Add reservation", new_service_reservation_path, class: 'btn btn-primary', :method => :get  %>

     <br>


<!-- https://github.com/ankane/groupdate -->
<!-- Supports PostgreSQL and MySQL -->

<!-- Fábio - just a test case- we should apply this to search menu and use PostgreSQL
to use group_by_* (groupdate gem)
 -->
<%= data = Stamp::Reservation.group_by_month(:created_at).count %>
<%= reservation_by_month(data) %>

</div>