<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">My Reservations</div>
                <div class="panel-body">
                    <%= render partial: 'list_reservations', locals:{ reservations: @reservations } %>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>